.about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img{
    justify-self: center;
}

.about__title{
    margin-bottom: var(--mb-2-5);
}
.about__descritpion{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2);
    text-align: justify;
}