.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
}
.home__content{
    text-align: center;
}
.home__social{
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 2rem;
    color: var(--title-color);
}
.home__social-icon{
    font-size: 2rem;
    color: var(--title-color);
}
.home__social-icon:hover{
    color: var(--title-color-dark);
}

.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--subtitle-color);
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
}